node_modules

/.cache
/public/build
/.netlify
.env

/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.*
/functions/version.txt
.dev.vars

# cloudflare template
/my-remix-app